<div class="container my-5">
  <div *ngIf="error" class="alert alert-danger text-center">
    {{ error }}
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <button class="list-group-item list-group-item-action" (click)="onUpdateProfilePicture()">Update Profile Picture</button>
        <button class="list-group-item list-group-item-action" (click)="onChangePassword()">Change Password</button>
      </div>
    </div>

    <div class="col-md-9">
      <div *ngIf="userProfile" class="card shadow-lg p-4 rounded-3 bg-light">
        <div class="d-flex justify-content-center mb-4">
          <div *ngIf="userProfile.profileUrl">
            <img [src]="userProfile.profileUrl" alt="Profile Picture" class="img-fluid rounded-circle border border-3 border-primary" style="max-width: 200px; height: auto;">
          </div>
        </div>

        <h3 class="text-center mb-3 text-dark">{{ userProfile.fullName }}</h3>
        <p class="text-center text-muted mb-3">{{ userProfile.email }}</p>
      </div>
    </div>
  </div>
</div>
